<div class="shadow-lg p-2 mb-1 bg-info rounded text-sec">
  <p>
    <strong class="text-dark">Amount:</strong>
    <span class="text-light", style="font-weight: bold;"><%= transaction.amount %></span>
  </p>

  <p>
    <strong class="text-dark">Odate:</strong>
    <span class="text-light", style="font-weight: bold;"><%= transaction.odate %></span>
  </p>

  <p>
    <strong class="text-dark">Description:</strong>
    <span class="text-light", style="font-weight: bold;"><%= transaction.description %></span>
  </p>

  <p>
    <strong class="text-dark">Category:</strong>
    <span class="text-light", style="font-weight: bold;"><%= transaction.category&.name %></span>
  </p>

  <p>
    <strong class="text-dark">Kind of transaction:</strong>
    <span class="text-light", style="font-weight: bold;"><%= transaction.kind %></span>
  </p>

</div>

 