<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Odate:</strong>
    <%= transaction.odate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category_id %>
  </p>

</div>
