<% if @categories.nil? or @categories.empty?%>
  <h1>You have to fill the form correctly</h1>
<% else %>
<<<<<<< HEAD
<table>
  <thead>
    <tr>
      <td>Category</td>
      <td>Amount</td>
    </tr>
  </thead>
  <tbody>
=======
<table class="table rounded m-3">
  <thead class="bg-info">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody class="table-info">
    <tr>
>>>>>>> add-bootstrap
      <% @categories.each do |name, amount|%>
      <tr>
        <td><%= name %></td>
        <td><%= amount %></td>
      </tr>
      <%end%>
<<<<<<< HEAD
  </tbody>
  <tfoot>
=======
    </tr>

  </tbody>
  <tfoot class="table-secondary">
>>>>>>> add-bootstrap
    <tr>
      <td>Total sum:</td>
      <td><%= @total_sum %></td>
    </tr>
  </tfoot>
</table>
<<<<<<< HEAD
<%end%>
<%= button_to "Back to reports", reports_index_path, method: :get %>
=======

<%end%>
<%= button_to "Back to reports", reports_index_path, method: :get, class:"btn btn-light border border-info border-3" %>
>>>>>>> add-bootstrap
