<% if @categories.nil? or @categories.empty?%>
  <h1>You have to fill the form correctly</h1>
<% else %>
<div style = "margin: 40px 800px 80px 100px;">
<h1>Report from <%= @dates.first %> to <%=  @dates.last%></h1>
<h2>Kind: <%=  @kind %></h2>
<table class="table table-bordered table-striped">
  <thead class="bg-info">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Sum</th>
    </tr>
  </thead>
  <tbody class="table-info">
    <tr>
      <% @categories.each do |name, amount|%>
      <tr>
        <td><%= name %></td>
        <td><%= amount %></td>
      </tr>
      <%end%>
    </tr>

  </tbody>
  <tfoot class="table-secondary">
    <tr>
      <td>Total sum:</td>
      <td><%= @total_sum %></td>
    </tr>
  </tfoot>
</table>
</div>
<div style = "width:600px; height:400px;", class = "mb-5">
  <canvas id="pie-chart"></canvas>
</div>

<script>
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: <%=raw @category_names%>,
      datasets: [{
        label: "Sum",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: <%=raw @amount%>
      }]
    },
    options: {
      title: {
        display: true,
      }
    }
});
</script>
<%end%>